{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
  {% block header %}
    {% include 'common/header.html' %}
  {% endblock %}

  {% block style %}
    {% include 'common/style.html' %}
  {% endblock %}
</head>

<body>
  {% block messages %}
    {% include 'common/messages.html' %}
  {% endblock %}

  <section class="row mx-auto mt-lg-5 pt-5 mt-2">
    <div class="col-lg-3 col-11 mx-auto container">
      {% block content %}
      {% endblock %}

      <div class="mx-2 d-flex justify-content-between my-3">
        <p class="link" data-toggle="modal" data-target="#help_center">
          {% trans "ヘルプセンター" %}
        </p>
        {% block language %}
          {% include 'common/language.html' %}
        {% endblock %}
      </div>
    </div>
  </section>

  {% block modal %}
    {% include 'app/modal.html' %}
  {% endblock %}

  {% block footer %}
    {% include 'common/footer.html' %}
  {% endblock %}
</body>

</html>