{% load i18n %}
{% load static %}

<div class="modal fade" id="request_ch_house" tabindex="-1" role="dialog" aria-labelledby="request_ch_house_ModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="request_ch_house_ModalLabel">
          {% trans "ハウス変更の申請" %}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'app:request_ch_house' %}" method="POST">{% csrf_token %}
          <div class="form-group">
            <label>Email:</label>
            <input class="mb-3 w-50" type="email" name="email" value="{{ user.email }}" readonly><br>
            <label>
              {% trans "現在のハウス:" %}
            </label>
            {{ user.house }}<br>
            <label>
              {% trans "新しく設定したいハウス:" %}
            </label>
            {{ house_choose_form.as_p }}
          </div>
          <div class="d-flex pt-2">
            <button type="button" class="btn w-50 mr-1" data-dismiss="modal">
              {% trans "キャンセル" %}
            </button>
            <button type="submit" class="btn w-50 ml-1">
              {% trans "送信" %}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>