Django==2.2.13
# postgreSQLドライバ
psycopg2==2.7.6
psycopg2-binary==2.7.7
# herokuに必要
gunicorn
django-heroku
whitenoise
# DRFに必要
markdown
django-filter
djangorestframework==3.9.2
# React（localhost:3000）からDjango（localhost:8000）のAPIを叩く際に必要
django-cors-headers==2.5.2
# シークレット環境変数の設定に必要
django-environ
# social loginに必要
social-auth-app-django
# recapcthaでユーザーのIPアドレスを取得するのに必要
django-ipware