Django==2.2.18
psycopg2==2.7.6
psycopg2-binary==2.7.7
gunicorn
django-heroku
whitenoise
markdown
django-filter
djangorestframework==3.9.2
django-cors-headers==2.5.2
django-environ
social-auth-app-django
django-recaptcha2