// default
$grey: #c3c2c2;
$light-grey: #f8f8f8;
$white: #ffffff;
$black: #383838;
$dark-blue: #023465;
$blue: #609bb6;
$light-blue: #8ebbcf;
$yellow: #f5dd5d;
$light-yellow: #feffcb;
$green: #71bf2b;
$orange: #efb80b;
$red: #dd4546;

@mixin header {
  text-align: center;
  background-color: $blue;
  color: $white;
  padding: 10px;
  width: 100%;
}
@mixin button {
  padding: 6px;
  text-align: center;
  background-color: $light-blue;
  color: $white;
  &:hover {
    background-color: $blue;
    color: $white;
  }
}
@mixin link {
  cursor: pointer;
  color: $light-blue;
  &:hover {
    text-decoration: underline;
    color: $dark-blue;
  }
}

ul,
li {
  list-style: none;
}
a {
  color: $light-blue;
  &:hover {
    color: $dark-blue;
  }
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}

p,
a,
label,
form,
input {
  font-size: 14px;
}

input {
  border-color: $light-grey;
  border-radius: 4px;
}
textarea,
select {
  border-color: $grey;
  box-shadow: 0.6px 0.6px $grey inset;
  border-radius: 4px;
}

/* Make images easier to work with */
img,
picture,
video {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.prop_hide {
  display: none;
}
// end of default

html {
  &:focus-within {
    scroll-behavior: smooth;
  }
  body {
    text-rendering: optimizeSpeed;
    background-color: $light-grey;
    position: relative;
    @media screen and (max-width: 600px) {
      font-size: 0.7rem;
    }
    // loading
    .loading_icon {
      position: absolute;
      z-index: 100;
      top: 50%;
      left: 50%;
      transform: translateY(-50%);
      transform: translateX(-50%);
    }
    .link {
      @include link;
    }
    .btn {
      @include button;
    }
    section {
      background-color: $light-grey;
      .container {
        background-color: $white;
        border-radius: 4px;
        border-color: $grey;
        .header {
          @include header;
        }
        p {
          b {
            color: $dark-blue;
          }
        }
        .numtable {
          p {
            b {
              font-size: x-large;
              color: $blue;
            }
          }
        }
        .housechore__card {
          border-radius: 4px;
          background-color: $light-grey;
          box-shadow: 2px $grey;
          &:hover {
            cursor: pointer;
            background-color: $grey;
          }
          input {
            visibility: hidden;
          }
        }
        .tapped_housechore {
          transform: rotate(-0.01turn);
          background-color: $light-yellow;
        }
        .logout,
        .withdraw {
          color: $light-blue;
          cursor: pointer;
          &:hover {
            color: $dark-blue;
            text-decoration: underline;
          }
        }
        // manage
        .manage_table {
          overflow-x: scroll;
          tr {
            th {
              text-align: center;
            }
            td {
              text-align: center;
            }
          }
        }
        .housemate_detail {
          tr {
            td {
              text-align: center;
            }
          }
        }
      }
    }
  }
}

// message
.message-success {
  background-color: $blue;
  color: $white;
}
.message-warning {
  background-color: $red;
  color: $white;
}

// breadcrumb
.breadcrumb_active {
  display: inline-block;
}
.breadcrumb_current {
  display: inline-block;
  pointer-events: none;
  a {
    color: $black;
  }
}

