{% extends 'users/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="header">
  <h5>
    {% trans "ハウス管理" %}
  </h5>
</div>
<div>
  <p class="pt-5 mx-auto text-center">
    {% trans "ハウスメイト" %}
  </p>
  <hr class="pb-2">
  <table class="w-100 mx-auto manage_table">
    <tr>
      <th>email</th>
      <th>
        {% trans "家事" %}
      </th>
      <th>
      </th>
      <th>
        {% trans "公益費" %}
      </th>
    </tr>
    {% for housemate in housemates %}
    <tr>
      <td class="text-left"><a href="{% url 'users:housemate_detail' housemate.id %}">{{ housemate.email }}</a></td>
      <td>{{ housemate.housechore_title }}</td>
      <td>{{ housemate.done_weekly }}</td>
      <td>{{ housemate.done_monthly }}</td>
    </tr>
    {% endfor %}
  </table>
  <hr>
  <button class="mb-5 btn w-100" data-toggle="modal" data-target="#deactivate_housemate">
    {% trans "特定のハウスメイトをdeactivateする" %}
  </button>
  <p class="pt-3 mx-auto text-center">
    {% trans "家事" %}
  </p>
  <hr class="pb-2">
  <table class="w-100 mx-auto manage_table">
    <tr>
      <th>
        {% trans "サマリ" %}
      </th>
      <th>
        {% trans "詳細" %}
      </th>
      <th>
        {% trans "有効/無効" %}
      </th>
    </tr>
    {% for housechore in housechores %}
    <tr>
      <td><a href="{% url 'users:housechore_detail' housechore.id %}">{{ housechore.title }}</a></td>
      <td class="text-left">{{ housechore.description }}</td>
      <td>{{ housechore.is_active }}</td>
    </tr>
    {% endfor %}
  </table>
  <hr>
  <div class="row d-flex justify-content-around mb-5 mx-sm-0 mx-1">
    <button class="btn col-sm-5 col-12 my-sm-0 my-1" data-toggle="modal" data-target="#add_housechore">
      {% trans "追加" %}
    </button>
    <button class="btn col-sm-5 col-12 my-sm-0 my-1" data-toggle="modal" data-target="#delete_housechore">
      {% trans "削除" %}
    </button>
  </div>
</div>
<a href="{% url 'users:index' %}">
  {% trans "ユーザー画面に戻る" %}
</a>
{% endblock %}
