{% load i18n %}
{% load static %}

<div class="modal fade" id="update_housechore" tabindex="-1" role="dialog"
  aria-labelledby="update_housechore_ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="update_housechore_ModalLabel">
          {% trans "更新する家事を選んでください" %}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'users:update_housechore' %}" method="POST">{% csrf_token %}
          <select name="housechore_title" class="py-2 my-3 w-50">
            {% for housechore in housechores %}
            <option name="housechore_title">{{ housechore.title }}</option>
            {% endfor %}
          </select>
          <div class="d-flex pt-2">
            <button type="button" class="btn w-50 mr-1" data-dismiss="modal">
              {% trans "キャンセル" %}
            </button>
            <button type="submit" class="btn w-50 ml-1">
              {% trans "選択" %}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>