{% extends 'users/base.html' %}
{% load static %}

{% block content %}
<div class="text-center my-5">
  <p>住んでいるハウスを選択してください</p>
</div>
<div class="px-2 mt-4">
  <form name="select_house" class="mb-4" action="{% url 'users:select_house' %}" method="POST">{% csrf_token %}
    <select class="w-100 mb-4">
      {% for house_name in house %}
      <option name="house_name">
        {{ house_name.name }}
      </option>
      {% endfor %}
    </select>
    <input type="submit" class="btn w-100" value="このハウスメンバーとして登録">
  </form>
  <div class="pt-3">
    <a href="{% url 'users:logout' %}">ログアウト</a>
  </div>
  <div class="py-3">
    <a href="{% url 'users:withdraw' %}">退会</a>
  </div>
</div>
{% endblock %}