{% load i18n %}
{% load static %}
<form class="mb-3" action="{% url 'set_language' %}" method="POST">{% csrf_token %}
  <input name="next" type="hidden" value="{{ redirect_to }}">
  <select name="language" id="changeLangUsers">
      {% get_current_language as LANGUAGE_CODE %}
      {% get_available_languages as LANGUAGES %}
      {% get_language_info_list for LANGUAGES as languages %}
      {% for language in languages %}
          <option value="{{ language.code }}"
          {% if language.code == LANGUAGE_CODE %}
            selected
          {% endif %}>
              {{ language.name_local }}
          </option>
      {% endfor %}
  </select>
  <input type="submit" id="langBtnUsers" style="display: none;">
</form>