{% load i18n %}
{% load static %}

<div class="modal fade" id="help_center" tabindex="-1" role="dialog" aria-labelledby="help_center_ModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="help_center_ModalLabel">
          {% trans "ヘルプセンター" %}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'users:inquire' %}" method="GET">
          <div class="form-group">
            <label>Email:</label>
            <input class="my-3 w-50" type="email" name="email" value="{{ user.email }}" readonly style="border: none; pointer-events: none;"><br>
            <label>
              {% trans "お問い合わせ内容" %}
            </label><br>
            <textarea class="form-control" rows="5" name="content" required></textarea>
          </div>
          <div class="d-flex pt-2">
            <button type="button" class="btn w-50 mr-1" data-dismiss="modal">
              {% trans "キャンセル" %}
            </button>
            <button type="submit" class="btn w-50 ml-1">
              {% trans "送信" %}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>