{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  {% block header %}
    {% include 'common/header.html' %}
  {% endblock %}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  {% block style %}
    {% include 'common/style.html' %}
  {% endblock %}
  <link rel="stylesheet" href="{% static 'css/bootstrap-social.min.css' %}">
</head>
<body>
  {% block messages %}
    {% include 'common/messages.html' %}
  {% endblock %}
  <section class="row mx-auto mt-lg-5 pt-5 mt-2">
    <div class="col-lg-3 col-11 mx-auto container">
      {% block content %}
      {% endblock %}
      <div class="d-flex justify-content-between mt-3">
        <p class="link" data-toggle="modal" data-target="#help_center">
          {% trans "ヘルプセンター" %}
        </p>
        {% block language %}
          {% include 'common/language.html' %}
        {% endblock %}
      </div>
    </div>
  </section>
  {% block request_house_owner %}
    {% include 'users/request_house_owner.html' %}
  {% endblock %}
  {% block add_housechore %}
    {% include 'users/manage/add_housechore.html' %}
  {% endblock %}
  {% block delete_housechore %}
    {% include 'users/manage/delete_housechore.html' %}
  {% endblock %}
  {% block deactivate_housemate %}
    {% include 'users/manage/deactivate_housemate.html' %}
  {% endblock %}
  {% block help_center %}
    {% include 'common/help_center.html' %}
  {% endblock %}
  {% block script %}
    {% include 'common/script.html' %}
  {% endblock %}
</body>
</html>
