{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <title>Atom</title>
  <meta name="description" content="シェアハウスで家事を自動で割り振ってみよう">
  <meta name="keywords" content="家事 シェアハウス Atom house chore">
  {% block header %}
    {% include 'users/header.html' %}
  {% endblock %}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="{% static 'css/users/style.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/users/bootstrap-social.min.css' %}">
</head>
<body>
  {% block messages %}
    {% include 'users/messages.html' %}
  {% endblock %}
  <section class="row mx-auto mt-lg-5 pt-5 mt-2">
    <div class="col-lg-3 col-11 mx-auto container">
      {% block content %}
      {% endblock %}
      <div class="d-flex justify-content-between mt-3">
        <p class="link" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
          {% trans "ヘルプセンター" %}
        </p>
        {% block language %}
          {% include 'users/language.html' %}
        {% endblock %}
      </div>
    </div>
  </section>
  {% block modal %}
    {% include 'users/modal.html' %}
  {% endblock %}
  {% block bootstrap %}
    {% include 'users/bootstrap.html' %}
  {% endblock %}
  <script src="{% static 'js/users/base.min.js' %}"></script>
</body>
</html>
