{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
  {% block header %}
    {% include 'common/header.html' %}
  {% endblock %}

  <!-- Recaptcha -->
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

  <!-- FontAwesome -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

  {% block style %}
    {% include 'common/style.html' %}
  {% endblock %}
  <link rel="stylesheet" href="{% static 'css/bootstrap-social.min.css' %}">
</head>

<body>
  {% block messages %}
    {% include 'common/messages.html' %}
  {% endblock %}

  <section class="row mx-auto mt-lg-5 pt-5 mt-2">
    <div class="col-lg-3 col-11 mx-auto container">
      {% block content %}
      {% endblock %}

      {% block section_buttom %}
        {% include 'common/section_buttom.html' %}
      {% endblock %}
    </div>
  </section>

  {% block modal %}
    {% include 'users/manage/modal.html' %}
  {% endblock %}

  {% block footer %}
    {% include 'common/footer.html' %}
  {% endblock %}
</body>

</html>