{% extends 'users/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="px-2 text-center my-5">
  {% if request.user.house == None %}
  <p>
      {% trans "住んでいるハウスを選択してください" %}
  </p>
</div>
<div class="px-2 mt-4">
  <form name="select_house" class="mb-4" action="{% url 'users:index' %}" method="POST">{% csrf_token %}
    {{ house_choose_form.as_p }}
    <button type="submit" class="btn w-100 mt-2" onclick="loading_show()">
      {% trans "このハウスメンバーとして登録" %}
    </button>
  </form>
  {% else %}
  <p class="mt-4">
    {% trans "あなたは" %}
    {{ request.user.house }}
    {% trans "ハウスメイトとして登録しています" %}
  </p>
  <form action="{% url 'app:room' %}" method="POST">{% csrf_token %}
    <button type="submit" class="mt-2 mb-5 btn w-100" onclick="loading_show()">
      {% trans "割り振られた家事を見る" %}
    </button>
  </form>
  {% endif %}

  <div class="pt-3 text-left">
      <p class="logout" id="logout">
        {% trans "ログアウト" %}
      </p>
      {% if user.is_staff %}
      <a href="{% url 'users:manage' %}" target="_blank" rel="noopener noreferrer">
        {% trans "ハウス管理" %}
      </a>
      {% else %}
      <p class="link" data-toggle="modal" data-target="#request_house_owner">
        {% trans "ハウス管理者権限の申請" %}
      </p>
      {% endif %}
      {% if user.is_superuser != True %}
      <p class="withdraw" id="withdraw">
        {% trans "退会" %}
      {% endif %}
      </p>
  </div>
</div>
{% endblock %}
