{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <title>家事割り振りアプリ</title>
  <meta name="description" content="シェアハウスで家事を自動で割り振ってみよう">
  <meta name="keywords" content="家事 シェアハウス Atom house chore">
  {% block header %}
    {% include 'users/header.html' %}
  {% endblock %}
  <link rel="stylesheet" href="{% static 'css/app/style.min.css' %}">
</head>
<body>
  {% block messages %}
    {% include 'users/messages.html' %}
  {% endblock %}
  <section class="row mx-auto mt-lg-5 pt-5 mt-2">
    <div class="col-lg-3 col-11 mx-auto container">
      {% block content %}
      {% endblock %}
      <div class="mx-2 d-flex justify-content-between my-3">
        <p class="link" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
          {% trans "ヘルプセンター" %}
        </p>
        {% block language %}
          {% include 'users/language.html' %}
        {% endblock %}
      </div>
    </div>
  </section>
  {% block bootstrap %}
    {% include 'users/bootstrap.html' %}
  {% endblock %}
  <script src="{% static 'js/users/base.min.js' %}"></script>
  <script src="{% static 'js/app/base.min.js' %}"></script>
</body>
</html>
