{% extends 'app/base.html' %}
{% load i18n %}
{% load static %}
{% block content %}

{% if user.is_staff %}
<div class="text-center mt-5 mb-3">
  <p>
    {% trans "このボタンは各ハウスの管理者にのみ見えています" %}
  </p>
</div>
<form action="{% url 'app:assign_chore' %}" method="POST">{% csrf_token %}
  <input type="submit" value="今週の家事を割り振る" class="btn w-100 mb-2">
</form>
<hr>
{% endif %}
<div class="row mt-3">
  <div class="col-11 mx-auto">
    <p><b>
      {% trans "今週" %}
      {{ user.name }}
      {% trans "さんが担当する家事" %}
    </b></p><br>
    <h5 class="pl-1">{{ user.housechore_title }}</h5>
    <p class="pl-3 pt-1">{{ user.housechore_desc }}</p>
    <br>
    <p class="pl-1">
      {% trans "公共費 300円/月" %}
    </p>
  </div>
</div>
<hr>
<div class="pt-1">
  <a href="{% url 'users:request_ch_house' %}">
    {% trans "ハウスを間違えましたか？" %}
  </a>
</div>
<div class="py-3">
  <a class="pr-1" href="{% url 'users:logout' %}">
    {% trans "ログアウト" %}
  </a>
  {% if user.is_staff %}
  <a href="/admin/" target="_blank" rel="noopener noreferrer">
    {% trans "ハウス管理" %}
  </a>
  {% else %}
  <a href="{% url 'app:request_house_owner' %}">
    {% trans "ハウス管理者権限の申請" %}
  </a>
  {% endif %}
</div>
{% endblock %}
